<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ders_38_Pansiyon_Kayıt_Uygulaması_.Properties.Settings.müsterilerConnectionString"
            connectionString="Data Source=Sumey-Lenovo;Initial Catalog=müsteriler;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Ders_38_Pansiyon_Kayıt_Uygulaması_.Properties.Settings.PansiyonConnectionString"
            connectionString="Data Source=Sumey-Lenovo;Initial Catalog=Pansiyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>